<font color='blue'>Привет! Поздравляю со вторым выполненным проектом. Он значительно объемнее первого. Меня зову Алексей, я проверю твою работу и напишу свои комментарии. Они, в зависимости от результата проверки, будут в </font><font color='green'>зеленом (когда все отлично),</font> <font color='brown'>коричневом (когда желательно доработать)</font><font color='blue'> или</font> <font color='red'>красном (когда нужно переделать, чтобы я принял работу).</font><font color='blue'> Ну и в синем будут просто советы и нейтральные комментарии. Постарайся учесть все это в дальнейших проектах.

---
Апдейт после проверки: хороший проект, всем материалом владеешь на уровне. Недочеты есть , но они доаольно мелкие.    
Более подробно см. блок в конце.
</font>

Алексей, здравствуйте! Хотела написать больше спасибо за вашу работу по проверке. Очень приятно читать было комменты по работе и особенно про чистку населенных пунктов) Постаралась учесть все ваши замечания в работе ниже.

# Исследование объявлений о продаже квартир

В вашем распоряжении данные сервиса Яндекс.Недвижимость — архив объявлений о продаже квартир в Санкт-Петербурге и соседних населённых пунктов за несколько лет. Нужно научиться определять рыночную стоимость объектов недвижимости. Ваша задача — установить параметры. Это позволит построить автоматизированную систему: она отследит аномалии и мошенническую деятельность. 

По каждой квартире на продажу доступны два вида данных. Первые вписаны пользователем, вторые — получены автоматически на основе картографических данных. Например, расстояние до центра, аэропорта, ближайшего парка и водоёма.

## Шаг 1. Откройте файл с данными и изучите общую информацию.

<font color=blue>Не забывай менять адрес на сетевой, иначе проект не запустится. Я поправил.

In [1]:
import pandas as pd
import numpy as np
from pymystem3 import Mystem
m = Mystem()
import matplotlib.pyplot as plt

#локалка
df = pd.read_csv('C://Users/Ритер/Desktop/GitHub/Data_course/Flat/real_estate_data.csv',sep='\t', decimal=',')
#Практикум
#df = pd.read_csv('/datasets/real_estate_data.csv',sep='\t', decimal=',')
df.head()

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.7,16.0,51.0,8,NaN,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  object
 2   total_area            23699 non-null  object
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  object
 6   floors_total          23613 non-null  object
 7   living_area           21796 non-null  object
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  object
 13  balcony               12180 non-null  object
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  object
 16  cityCenters_nearest   18180 non-null  object
 17  parks_around3000      18181 non-null  object
 18  parks_nearest         8079 non-null   object
 19  ponds_around3000      18181 non-null  object
 20  ponds_nearest         9110 non-null   object
 21  days_exposition       20518 non-null  object
dtypes: bool(2), int64(3), object(17)
memory usage: 3.7+ MB

### Вывод

Уже в самом начале была проблема с чтением файла. У него все данные были разделены табуляцией. Названия колонок однотипные и менять названия не вижу смысла. У нас 23699 строк, есть булевые данные, целочисленные и объекты. Сразу стало понятно, что в некоторых колонках должны быть целочисленный формат числа, а не вещественный. Например, в колонке **balcony** или **floors_total**. В некоторых колонках видно, что есть пропуски, будем пытаться заполнять.

<font color='green'>Данные загружены и предварительно изучены. Применены методы первичного анализа.</font>

## Шаг 2. Предобработка данных

Я планирую пройтись по каждой колонке, чтобы разобраться с типом данных и пропусками. Буду помечать работу с колонками "Задача №...", чтобы в дальнейшем помечать в тетради работу над той или иной колонкой и не запутаться.
- *total_images.* Здесь все ок, т.к. нет пропусков и целочисленный тип данных, который и предполагает колонка с числом фотографий
- *last_price.* В этой колонке объекты, нет пропусков. Для цены округление не совсем правильно, особенно на крупных суммах. Надо перевести в вещественный тип данных, чтобы не было объектов. **Задача №1**
- *total_area.* Такая же ситуация, что и в колонке с последней ценой. Пропусков нет, перевод в float64. Сделаю это в рамках **Задача №1**
- *first_day_exposition.* Пропусков нет. Хочу убрать время, т.к. оно не нужно для дальнейшей работы. **Задача №2**
- *rooms.*  Пропусков нет, тип данных целочисленный, все ок.
- *ceiling_height.* Тут есть пропуски и также object в типе данных, что помешает математическим операциям по необходимости, поэтому нужно переводить в int64. Пропусков остаточно много. Предлагаю заменить на среднее число. В целом, стандратная высота потолка 2,5 м. Надо сравнить среднюю по датафрейму со стандартом. **Задача №3**
- *floors_total.* Есть пропуски и опять проблема с типом данных, переводим в int64 в рамках **Задача №3**. т.к. для вычислений средней высоты потолков мне понадобятся значения этого столбца. Пропусков 86 шт. это 0,36% от всего количества. Заполнять их не знаю чем, аналогии провести с другими данными нельзя. Такого понятия как "среднее количество этажей в доме" нет, т.к. нам не известно какого типа дома с объектами. В панельном доме 5 этажей, в многоэтажке может и 30 этажей. Гадать смысла нет, поэтому оставлю вместо Nan - no_info.
- *living_area.* Пропуски и object. Перевод чисел в float64 в **Задача №5**. Надо посмотреть распределение значений и решить, чем заполнять пропуски. Можно было бы основываться на площади кухни или количестве комнат. В последнем варианте пропусков нет. Заполнить пропуски здесь необходимо, т.к. дальше по проекту требуется вычислить соотношение жилой и общей площади, поэтому оставлять пропуски будет неверным решением.
- *floor.* Пропусков нет, формат int64, перевод не нужен
- *is_apartment.* Очень много пропусков. По тем данным, которые есть, аппартаментов очень мало. Для дайнейшего анализа данные не требуются, поэтому заменю пропуски на no_info. В рамках **Задача №4**
- *studio.* Пропусков нет, формат bool
- *open_plan.* Пропусков нет, формат bool
- *kitchen_area.* Есть пропуски, формат object. Нужно будет переводить в вещественный формат данных float64 и заполнить пропуски исходя из жилой площади и общей площади. **Задача №6**
- *balcony.* Есть пропуски, нужно заполнить их на 0. **Задача №7**
- *locality_name.* Здесь наименования населенных пунктов, нужно будет проверить названия и привести к формату str. Есть небольшое количество пропусков 49 шт., заменю на no_info, т.к. логичной замены здесь не вижу. **Задача №4**
- *airports_nearest.* Есть пропуски, т.к. эти данные заполнялись автоматически, то пропуски я заменю на 0. Причину пропусков вижу в том, что из населенного пункта с квартирой добраться напрямую до аэропорта невозможно, только транзитом через другой город. Можно было бы сделать алгоритм, который мог бы подставлять данные в карты и отдавать расстояние до Пулково, но не вижу смысла в этом, т.к. нам не нужно в дальнейшей работе использовать данные из этой колонки. Тип нужно переводить на float64. **Задача №8**
- *cityCenters_nearest.* Вряд ли в таких населенных пунктах как поселок, будет иметь значение удаленность от центра. Надо посмотреть примерно какие населенные пункты в в пропусках есть. Данные во float64, пропуски заполнить нулями. Сделаю в рамках **Задача №8**
- *parks_around3000.* Нужно перевести тип данных во int64, а пропуски заполнить нулями. Исхожу из того факта, что если пропуск, то в радиусе 3 км от жилища нет парка. **Задача №8**
- *parks_nearest.* Данные во float64, пропуски заполнить нулями. **Задача №8**
- *ponds_around3000.* Аналогично с пунктами выше. Данные во int64, пропуски заполнить нулями. **Задача №8**
- *ponds_nearest.* Хочу посмотреть есть ли пруды дальше 3 км от жилища. Если да, то в колонке *ponds_around3000* проверю стоит ли ноль. Аналогично с пунктами выше. Данные во float64, пропуски заполнить нулями. **Задача №8**
- *days_exposition.* Есть пропуски и данные object. Переводить нужно в int64, т.к. сама колонка показывает количество дней, полдня не сущетсвенны. Пропуски заполню нулями, если система не отметила количество дней, которое висело объявление, то скорее всего квартира по нему не продалась. **Задача №8**

<font color='green'>Хороший план - уже пол дела!

Из первоначального разбора стало понятно, что будут однотипные переводы типов данных и замена на нули и no_info. Поэтому решила, что проще написать пару функций с проверками, чтобы быстро решить задачи.

*Округление в типе float64 буду делать до 1 знака после запятой для удобства чтения*

#### Фукнции перевода и замены

In [3]:
def obj_to_smt(column, type_data):
    if type_data == 'float64':
        df[column] = pd.to_numeric(df[column], errors='ignore')
        df[column] = round(df[column], 1)
    elif type_data == 'int64':
        df[column] = pd.to_numeric(df[column], errors='ignore')
        df[column] = df[column].astype('int64')
    df[column].dtypes
    if df[column].dtypes == 'float64':
        print("Convert to float64 completed")
    elif df[column].dtypes == 'int64':
        print("Convert to int64 completed")

#### Задача №1

In [4]:
obj_to_smt('last_price', 'int64')
obj_to_smt('total_area', 'float64')
df.head()

Convert to int64 completed
Convert to float64 completed

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000,108.0,2019-03-07T00:00:00,3,2.7,16.0,51.0,8,NaN,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

#### Задача №2

In [5]:
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'], format='%Y-%m-%dT%H:%M:%S')
df.head()

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000,108.0,2019-03-07,3,2.7,16.0,51.0,8,NaN,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000,40.4,2018-12-04,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000,56.0,2015-08-20,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000,159.0,2015-07-24,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000,100.0,2018-06-19,2,3.03,14.0,32.0,13,NaN,...,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

#### Задача №3

In [6]:
print('Процент пропусков в высоте потолка: {:.1%}'.format(df['ceiling_height'].isna().sum() / len(df)))

Процент пропусков в высоте потолка: 38.8%

In [7]:
obj_to_smt('ceiling_height', 'float64')

Convert to float64 completed

In [8]:
print('Среднее число по высоте потолков: {:.2f}'.format(df['ceiling_height'].mean()), 'м')
print('Медиана по высоте потолков: {:.2f}'.format(df['ceiling_height'].median()), 'м')

Среднее число по высоте потолков: 2.78 м
Медиана по высоте потолков: 2.60 м

In [9]:
df['floors_total'] = df['floors_total'].fillna(0) #поставила выполнение сюда, т.к. нужно перевести строки в числа для вычислений
obj_to_smt('floors_total', 'int64')

Convert to int64 completed

In [10]:
def create_dict(values, table, column1, column2):  #функция для создания словарей, чтобы не руками все собирать
    dictionary = {}
    for i in values:
        for j in range(len(table)):
            if i == table.loc[j, column1]:
                dictionary[i] = table.loc[j, column2]
    return dictionary

In [11]:
median_floors = df.pivot_table(index='floors_total', values='ceiling_height', aggfunc=['median']).reset_index()
median_floors.columns = ('floors_total', 'median')
median_floors

    floors_total  median
0              0    2.80
1              1    2.80
2              2    2.70
3              3    2.80
4              4    3.00
5              5    2.60
6              6    3.00
7              7    3.00
8              8    2.80
9              9    2.60
10            10    2.60
11            11    2.80
12            12    2.60
13            13    2.70
14            14    2.60
15            15    2.70
16            16    2.70
17            17    2.70
18            18    2.70
19            19    2.80
20            20    2.80
21            21    2.70
22            22    2.80
23            23    2.80
24            24    2.80
25            25    2.80
26            26    2.65
27            27    2.70
28            28    2.60
29            29    2.60
30            34    2.60
31            35    2.70
32            36   14.85
33            37    1.80
34            52    2.60
35            60    2.90

In [12]:
df['ceiling_height'] = df['ceiling_height'].fillna('no_info')
df['floors_total'] = df['floors_total'].replace(0, 'no_info')

In [13]:
what_floor = df[df['ceiling_height'] == 'no_info']['floors_total'].unique()
what_floor

array([11, 5, 14, 12, 26, 24, 27, 6, 17, 3, 19, 9, 22, 4, 25, 13, 10, 2,
       7, 'no_info', 23, 16, 8, 18, 15, 28, 36, 20, 21, 35, 1, 33],
      dtype=object)

In [14]:
dict_median_floor = create_dict(what_floor, median_floors, 'floors_total', 'median')
dict_median_floor

{11: 2.8,
 5: 2.6,
 14: 2.6,
 12: 2.6,
 26: 2.6500000000000004,
 24: 2.8,
 27: 2.7,
 6: 3.0,
 17: 2.7,
 3: 2.8,
 19: 2.8,
 9: 2.6,
 22: 2.8,
 4: 3.0,
 25: 2.8,
 13: 2.7,
 10: 2.6,
 2: 2.7,
 7: 3.0,
 23: 2.8,
 16: 2.7,
 8: 2.8,
 18: 2.7,
 15: 2.7,
 28: 2.6,
 36: 14.85,
 20: 2.8,
 21: 2.7,
 35: 2.7,
 1: 2.8}

In [15]:
def new_height(row):
    floor = row['floors_total']
    if row['ceiling_height'] == 'no_info':
        return dict_median_floor.get(floor)
    else:
        return row['ceiling_height']

In [16]:
df['ceiling_height'] = df.apply(new_height, axis=1)

In [17]:
df['ceiling_height'].isna().sum()

78

In [18]:
df['ceiling_height'] = df['ceiling_height'].fillna(2.6)

In [19]:
df['ceiling_height'].isna().sum()

0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int64
 5   ceiling_height        23699 non-null  float64
 6   floors_total          23699 non-null  object
 7   living_area           21796 non-null  object
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  object
 13  balcony               12180 non-null  object
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  object
 16  cityCenters_nearest   18180 non-null  object
 17  parks_around3000      18181 non-null  object
 18  parks_nearest         8079 non-null   object
 19  ponds_around3000      18181 non-null  object
 20  ponds_nearest         9110 non-null   object
 21  days_exposition       20518 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(2), int64(4), object(13)
memory usage: 3.7+ MB

Апдейд после изменений: заменила пропуски в зависимости от количества этажей в здании. Где же не было указано сколько этажей я в колонке "floors_total" как и планировала поставила "no_info", а в колонке по высоте заменила пропуски медианой.

<S><font color=brown>Можно пойти немного дальше и заполнить высоту потолков медианами в соответствии с этажностью. Ведь у пятиэтажек, девятиэтажек и т.д. высота потолков должна быть более-менее одинкова.

<b>UPD: <font color='green'>Отлично, теперь пропуски заполнены максмально достоверно.

#### Задача №4

In [21]:
df['is_apartment'] = df['is_apartment'].fillna(False)

<font color=blue>Думаю, здесь довольно смело можно предположить, что пропуск - это принзак того, что объект не является апартаментами и соответственно заполнить.

In [22]:
df['locality_name'] = df['locality_name'].fillna('no_info')
df['locality_name'] = df['locality_name'].astype('str')

In [23]:
df['locality_name'].unique()

array(['Санкт-Петербург', 'посёлок Шушары', 'городской посёлок Янино-1',
       'посёлок Парголово', 'посёлок Мурино', 'Ломоносов', 'Сертолово',
       'Петергоф', 'Пушкин', 'деревня Кудрово', 'Коммунар', 'Колпино',
       'поселок городского типа Красный Бор', 'Гатчина', 'поселок Мурино',
       'деревня Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск',
       'деревня Новое Девяткино', 'посёлок Металлострой',
       'посёлок городского типа Лебяжье',
       'посёлок городского типа Сиверский', 'поселок Молодцово',
       'поселок городского типа Кузьмоловский',
       'садовое товарищество Новая Ропша', 'Павловск',
       'деревня Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп',
       'Приозерск', 'Сестрорецк', 'деревня Куттузи', 'посёлок Аннино',
       'поселок городского типа Ефимовский', 'посёлок Плодовое',
       'деревня Заклинье', 'поселок Торковичи', 'поселок Первомайское',
       'Красное Село', 'посёлок Понтонный', 'Сясьстрой', 'деревня Старая',
       'деревня Лесколово', 'посёлок Новый Свет', 'Сланцы',
       'село Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург',
       'Никольское', 'Зеленогорск', 'Сосновый Бор', 'поселок Новый Свет',
       'деревня Оржицы', 'деревня Кальтино', 'Кудрово',
       'поселок Романовка', 'посёлок Бугры', 'поселок Бугры',
       'поселок городского типа Рощино', 'Кириши', 'Луга', 'Волосово',
       'Отрадное', 'село Павлово', 'поселок Оредеж', 'село Копорье',
       'посёлок городского типа Красный Бор', 'посёлок Молодёжное',
       'Тихвин', 'посёлок Победа', 'деревня Нурма',
       'поселок городского типа Синявино', 'Тосно',
       'посёлок городского типа Кузьмоловский', 'посёлок Стрельна',
       'Бокситогорск', 'посёлок Александровская', 'деревня Лопухинка',
       'Пикалёво', 'поселок Терволово',
       'поселок городского типа Советский', 'Подпорожье',
       'посёлок Петровское', 'посёлок городского типа Токсово',
       'поселок Сельцо', 'посёлок городского типа Вырица',
       'деревня Кипень', 'деревня Келози', 'деревня Вартемяги',
       'посёлок Тельмана', 'поселок Севастьяново',
       'городской поселок Большая Ижора', 'no_info',
       'городской посёлок Павлово', 'деревня Агалатово',
       'посёлок Новогорелово', 'городской посёлок Лесогорский',
       'деревня Лаголово', 'поселок Цвелодубово',
       'поселок городского типа Рахья', 'поселок городского типа Вырица',
       'деревня Белогорка', 'поселок Заводской',
       'городской посёлок Новоселье', 'деревня Большие Колпаны',
       'деревня Горбунки', 'деревня Батово', 'деревня Заневка',
       'деревня Иссад', 'Приморск', 'городской посёлок Фёдоровское',
       'деревня Мистолово', 'Новая Ладога', 'поселок Зимитицы',
       'поселок Барышево', 'деревня Разметелево',
       'поселок городского типа имени Свердлова', 'деревня Пеники',
       'поселок Рябово', 'деревня Пудомяги', 'поселок станции Корнево',
       'деревня Низино', 'деревня Бегуницы', 'посёлок Поляны',
       'городской посёлок Мга', 'поселок Елизаветино',
       'посёлок городского типа Кузнечное', 'деревня Колтуши',
       'поселок Запорожское', 'посёлок городского типа Рощино',
       'деревня Гостилицы', 'деревня Малое Карлино',
       'посёлок Мичуринское', 'посёлок городского типа имени Морозова',
       'посёлок Песочный', 'посёлок Сосново', 'деревня Аро',
       'поселок Ильичёво', 'посёлок городского типа Тайцы',
       'деревня Малое Верево', 'деревня Извара', 'поселок станции Вещево',
       'село Паша', 'деревня Калитино',
       'посёлок городского типа Ульяновка', 'деревня Чудской Бор',
       'поселок городского типа Дубровка', 'деревня Мины',
       'поселок Войсковицы', 'посёлок городского типа имени Свердлова',
       'деревня Коркино', 'посёлок Ропша',
       'поселок городского типа Приладожский', 'посёлок Щеглово',
       'посёлок Гаврилово', 'Лодейное Поле', 'деревня Рабитицы',
       'поселок городского типа Никольский', 'деревня Кузьмолово',
       'деревня Малые Колпаны', 'поселок Тельмана',
       'посёлок Петро-Славянка', 'городской посёлок Назия',
       'посёлок Репино', 'посёлок Ильичёво', 'поселок Углово',
       'поселок Старая Малукса', 'садовое товарищество Рахья',
       'поселок Аннино', 'поселок Победа', 'деревня Меньково',
       'деревня Старые Бегуницы', 'посёлок Сапёрный', 'поселок Семрино',
       'поселок Гаврилово', 'поселок Глажево', 'поселок Кобринское',
       'деревня Гарболово', 'деревня Юкки',
       'поселок станции Приветнинское', 'деревня Мануйлово',
       'деревня Пчева', 'поселок Поляны', 'поселок Цвылёво',
       'поселок Мельниково', 'посёлок Пудость', 'посёлок Усть-Луга',
       'Светогорск', 'Любань', 'поселок Селезнёво',
       'поселок городского типа Рябово', 'Каменногорск', 'деревня Кривко',
       'поселок Глебычево', 'деревня Парицы', 'поселок Жилпосёлок',
       'посёлок городского типа Мга', 'городской поселок Янино-1',
       'посёлок Войскорово', 'село Никольское', 'посёлок Терволово',
       'поселок Стеклянный', 'посёлок городского типа Важины',
       'посёлок Мыза-Ивановка', 'село Русско-Высоцкое',
       'поселок городского типа Лебяжье',
       'поселок городского типа Форносово', 'село Старая Ладога',
       'поселок Житково', 'городской посёлок Виллози', 'деревня Лампово',
       'деревня Шпаньково', 'деревня Лаврики', 'посёлок Сумино',
       'посёлок Возрождение', 'деревня Старосиверская',
       'посёлок Кикерино', 'поселок Возрождение',
       'деревня Старое Хинколово', 'посёлок Пригородный',
       'посёлок Торфяное', 'городской посёлок Будогощь',
       'поселок Суходолье', 'поселок Красная Долина', 'деревня Хапо-Ое',
       'поселок городского типа Дружная Горка', 'поселок Лисий Нос',
       'деревня Яльгелево', 'посёлок Стеклянный', 'село Рождествено',
       'деревня Старополье', 'посёлок Левашово', 'деревня Сяськелево',
       'деревня Камышовка',
       'садоводческое некоммерческое товарищество Лесная Поляна',
       'деревня Хязельки', 'поселок Жилгородок',
       'посёлок городского типа Павлово', 'деревня Ялгино',
       'поселок Новый Учхоз', 'городской посёлок Рощино',
       'поселок Гончарово', 'поселок Почап', 'посёлок Сапёрное',
       'посёлок Платформа 69-й километр', 'поселок Каложицы',
       'деревня Фалилеево', 'деревня Пельгора',
       'поселок городского типа Лесогорский', 'деревня Торошковичи',
       'посёлок Белоостров', 'посёлок Алексеевка', 'поселок Серебрянский',
       'поселок Лукаши', 'поселок Петровское', 'деревня Щеглово',
       'поселок Мичуринское', 'деревня Тарасово', 'поселок Кингисеппский',
       'посёлок при железнодорожной станции Вещево', 'поселок Ушаки',
       'деревня Котлы', 'деревня Сижно', 'деревня Торосово',
       'посёлок Форт Красная Горка', 'поселок городского типа Токсово',
       'деревня Новолисино', 'посёлок станции Громово', 'деревня Глинка',
       'посёлок Мельниково', 'поселок городского типа Назия',
       'деревня Старая Пустошь', 'поселок Коммунары', 'поселок Починок',
       'посёлок городского типа Вознесенье', 'деревня Разбегаево',
       'посёлок городского типа Рябово', 'поселок Гладкое',
       'посёлок при железнодорожной станции Приветнинское',
       'поселок Тёсово-4', 'посёлок Жилгородок', 'деревня Бор',
       'посёлок Коробицыно', 'деревня Большая Вруда', 'деревня Курковицы',
       'посёлок Лисий Нос', 'городской посёлок Советский',
       'посёлок Кобралово', 'деревня Суоранда', 'поселок Кобралово',
       'поселок городского типа Кондратьево',
       'коттеджный поселок Счастье', 'поселок Любань', 'деревня Реброво',
       'деревня Зимитицы', 'деревня Тойворово', 'поселок Семиозерье',
       'поселок Лесное', 'поселок Совхозный', 'поселок Усть-Луга',
       'посёлок Ленинское', 'посёлок Суйда',
       'посёлок городского типа Форносово', 'деревня Нижние Осельки',
       'посёлок станции Свирь', 'поселок Перово', 'Высоцк',
       'поселок Гарболово', 'село Шум', 'поселок Котельский',
       'поселок станции Лужайка', 'деревня Большая Пустомержа',
       'поселок Красносельское', 'деревня Вахнова Кара', 'деревня Пижма',
       'коттеджный поселок Кивеннапа Север', 'поселок Коробицыно',
       'поселок Ромашки', 'посёлок Перово', 'деревня Каськово',
       'деревня Куровицы', 'посёлок Плоское', 'поселок Сумино',
       'поселок городского типа Большая Ижора', 'поселок Кирпичное',
       'деревня Ям-Тесово', 'деревня Раздолье', 'деревня Терпилицы',
       'посёлок Шугозеро', 'деревня Ваганово', 'поселок Пушное',
       'садовое товарищество Садко', 'посёлок Усть-Ижора',
       'деревня Выскатка', 'городской посёлок Свирьстрой',
       'поселок Громово', 'деревня Кисельня', 'посёлок Старая Малукса',
       'деревня Трубников Бор', 'поселок Калитино',
       'посёлок Высокоключевой', 'садовое товарищество Приладожский',
       'посёлок Пансионат Зелёный Бор', 'деревня Ненимяки',
       'поселок Пансионат Зелёный Бор', 'деревня Снегирёвка',
       'деревня Рапполово', 'деревня Пустынка', 'поселок Рабитицы',
       'деревня Большой Сабск', 'деревня Русско', 'деревня Лупполово',
       'деревня Большое Рейзино', 'деревня Малая Романовка',
       'поселок Дружноселье', 'поселок Пчевжа', 'поселок Володарское',
       'деревня Нижняя', 'коттеджный посёлок Лесное', 'деревня Тихковицы',
       'деревня Борисова Грива', 'посёлок Дзержинского'], dtype=object)

При беглом просмотре стало ясно, что названия локации писали все на свой лад без определенного шаблона. Поэтому я решила привести в порядок названия мест, чтобы в дальнейшем использовать правильные названия для решения одной из задач проекта. Хочу убрать все обозначения населенных пунктов "деревня", "поселок" и подобное, чтобы остались лишь сами названия мест.

In [24]:
print('Всего наименований:', len(df['locality_name'].unique()), 'шт.')

Всего наименований: 365 шт.

In [25]:
out = ['посёлок', 'поселок', 'коттеджный','типа', 'имени', 'станции', 'деревня', 'село', 'городской', 'городского', 'садоводческое', 'некоммерческое', 'товарищество']

In [26]:
def change_name(row):
    new_lst = []
    lst = row.split()
    for element in lst:
        if element not in out:
            new_lst.append(element)
    if len(new_lst) >= 2:
        new_name = ' '.join(str(e) for e in new_lst)
    else:
        new_name = ''.join(new_lst)
    return new_name

In [27]:
df['locality_name'] = df['locality_name'].apply(change_name)

In [28]:
print('Количество наименований, после того, как убрали лишние слова:', len(df['locality_name'].unique()), 'шт.')

Количество наименований, после того, как убрали лишние слова: 310 шт.

In [29]:
df['locality_name'].unique()

array(['Санкт-Петербург', 'Шушары', 'Янино-1', 'Парголово', 'Мурино',
       'Ломоносов', 'Сертолово', 'Петергоф', 'Пушкин', 'Кудрово',
       'Коммунар', 'Колпино', 'Красный Бор', 'Гатчина', 'Фёдоровское',
       'Выборг', 'Кронштадт', 'Кировск', 'Новое Девяткино',
       'Металлострой', 'Лебяжье', 'Сиверский', 'Молодцово',
       'Кузьмоловский', 'садовое Новая Ропша', 'Павловск', 'Пикколово',
       'Всеволожск', 'Волхов', 'Кингисепп', 'Приозерск', 'Сестрорецк',
       'Куттузи', 'Аннино', 'Ефимовский', 'Плодовое', 'Заклинье',
       'Торковичи', 'Первомайское', 'Красное Село', 'Понтонный',
       'Сясьстрой', 'Старая', 'Лесколово', 'Новый Свет', 'Сланцы',
       'Путилово', 'Ивангород', 'Шлиссельбург', 'Никольское',
       'Зеленогорск', 'Сосновый Бор', 'Оржицы', 'Кальтино', 'Романовка',
       'Бугры', 'Рощино', 'Кириши', 'Луга', 'Волосово', 'Отрадное',
       'Павлово', 'Оредеж', 'Копорье', 'Молодёжное', 'Тихвин', 'Победа',
       'Нурма', 'Синявино', 'Тосно', 'Стрельна', 'Бокситогорск',
       'Александровская', 'Лопухинка', 'Пикалёво', 'Терволово',
       'Советский', 'Подпорожье', 'Петровское', 'Токсово', 'Сельцо',
       'Вырица', 'Кипень', 'Келози', 'Вартемяги', 'Тельмана',
       'Севастьяново', 'Большая Ижора', 'no_info', 'Агалатово',
       'Новогорелово', 'Лесогорский', 'Лаголово', 'Цвелодубово', 'Рахья',
       'Белогорка', 'Заводской', 'Новоселье', 'Большие Колпаны',
       'Горбунки', 'Батово', 'Заневка', 'Иссад', 'Приморск', 'Мистолово',
       'Новая Ладога', 'Зимитицы', 'Барышево', 'Разметелево', 'Свердлова',
       'Пеники', 'Рябово', 'Пудомяги', 'Корнево', 'Низино', 'Бегуницы',
       'Поляны', 'Мга', 'Елизаветино', 'Кузнечное', 'Колтуши',
       'Запорожское', 'Гостилицы', 'Малое Карлино', 'Мичуринское',
       'Морозова', 'Песочный', 'Сосново', 'Аро', 'Ильичёво', 'Тайцы',
       'Малое Верево', 'Извара', 'Вещево', 'Паша', 'Калитино',
       'Ульяновка', 'Чудской Бор', 'Дубровка', 'Мины', 'Войсковицы',
       'Коркино', 'Ропша', 'Приладожский', 'Щеглово', 'Гаврилово',
       'Лодейное Поле', 'Рабитицы', 'Никольский', 'Кузьмолово',
       'Малые Колпаны', 'Петро-Славянка', 'Назия', 'Репино', 'Углово',
       'Старая Малукса', 'садовое Рахья', 'Меньково', 'Старые Бегуницы',
       'Сапёрный', 'Семрино', 'Глажево', 'Кобринское', 'Гарболово',
       'Юкки', 'Приветнинское', 'Мануйлово', 'Пчева', 'Цвылёво',
       'Мельниково', 'Пудость', 'Усть-Луга', 'Светогорск', 'Любань',
       'Селезнёво', 'Каменногорск', 'Кривко', 'Глебычево', 'Парицы',
       'Жилпосёлок', 'Войскорово', 'Стеклянный', 'Важины',
       'Мыза-Ивановка', 'Русско-Высоцкое', 'Форносово', 'Старая Ладога',
       'Житково', 'Виллози', 'Лампово', 'Шпаньково', 'Лаврики', 'Сумино',
       'Возрождение', 'Старосиверская', 'Кикерино', 'Старое Хинколово',
       'Пригородный', 'Торфяное', 'Будогощь', 'Суходолье',
       'Красная Долина', 'Хапо-Ое', 'Дружная Горка', 'Лисий Нос',
       'Яльгелево', 'Рождествено', 'Старополье', 'Левашово', 'Сяськелево',
       'Камышовка', 'Лесная Поляна', 'Хязельки', 'Жилгородок', 'Ялгино',
       'Новый Учхоз', 'Гончарово', 'Почап', 'Сапёрное',
       'Платформа 69-й километр', 'Каложицы', 'Фалилеево', 'Пельгора',
       'Торошковичи', 'Белоостров', 'Алексеевка', 'Серебрянский',
       'Лукаши', 'Тарасово', 'Кингисеппский',
       'при железнодорожной Вещево', 'Ушаки', 'Котлы', 'Сижно',
       'Торосово', 'Форт Красная Горка', 'Новолисино', 'Громово',
       'Глинка', 'Старая Пустошь', 'Коммунары', 'Починок', 'Вознесенье',
       'Разбегаево', 'Гладкое', 'при железнодорожной Приветнинское',
       'Тёсово-4', 'Бор', 'Коробицыно', 'Большая Вруда', 'Курковицы',
       'Кобралово', 'Суоранда', 'Кондратьево', 'Счастье', 'Реброво',
       'Тойворово', 'Семиозерье', 'Лесное', 'Совхозный', 'Ленинское',
       'Суйда', 'Нижние Осельки', 'Свирь', 'Перово', 'Высоцк', 'Шум',
       'Котельский', 'Лужайка', 'Большая Пустомержа', 'Красносельское',
       'Вахнова Кара', 'Пижма', 'Кивеннапа Север', 'Ромашки', 'Каськово',
       'Куровицы', 'Плоское', 'Кирпичное', 'Ям-Тесово', 'Раздолье',
       'Терпилицы', 'Шугозеро', 'Ваганово', 'Пушное', 'садовое Садко',
       'Усть-Ижора', 'Выскатка', 'Свирьстрой', 'Кисельня',
       'Трубников Бор', 'Высокоключевой', 'садовое Приладожский',
       'Пансионат Зелёный Бор', 'Ненимяки', 'Снегирёвка', 'Рапполово',
       'Пустынка', 'Большой Сабск', 'Русско', 'Лупполово',
       'Большое Рейзино', 'Малая Романовка', 'Дружноселье', 'Пчевжа',
       'Володарское', 'Нижняя', 'Тихковицы', 'Борисова Грива',
       'Дзержинского'], dtype=object)

<font color=green>Классно сделано!

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  int64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  datetime64[ns]
 4   rooms                 23699 non-null  int64
 5   ceiling_height        23699 non-null  float64
 6   floors_total          23699 non-null  object
 7   living_area           21796 non-null  object
 8   floor                 23699 non-null  int64
 9   is_apartment          23699 non-null  bool
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  object
 13  balcony               12180 non-null  object
 14  locality_name         23699 non-null  object
 15  airports_nearest      18157 non-null  object
 16  cityCenters_nearest   18180 non-null  object
 17  parks_around3000      18181 non-null  object
 18  parks_nearest         8079 non-null   object
 19  ponds_around3000      18181 non-null  object
 20  ponds_nearest         9110 non-null   object
 21  days_exposition       20518 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), int64(4), object(12)
memory usage: 3.5+ MB

#### Задача №5

In [31]:
print('Процент пропусков от общего числа в колонке: {:.2%}'.format(df['living_area'].isna().sum() / len(df['living_area'])))
print('Количество пропусков в колонке:', df['living_area'].isna().sum(), 'шт.')

Процент пропусков от общего числа в колонке: 8.03%
Количество пропусков в колонке: 1903 шт.

In [32]:
df['living_area'] = df['living_area'].fillna(0) #пока заменю на ноль пропуски, чтобы можно было сделать замену и посмотреть среднее и медиану
obj_to_smt('living_area', 'float64')

Convert to float64 completed

In [33]:
print('Среднее:', round(df['living_area'].mean(), 1))
print('Медиана:', df['living_area'].median())

Среднее: 31.7
Медиана: 29.0

In [34]:
df[df['living_area'] == 0]['rooms'].unique()

array([3, 2, 1, 4, 7, 0, 5, 6, 9], dtype=int64)

In [35]:
living_rooms = df.pivot_table(index='rooms', values='living_area', aggfunc=['median']).reset_index()
living_rooms.columns = ('rooms', 'median')
living_rooms

    rooms  median
0       0   18.00
1       1   17.40
2       2   30.00
3       3   44.00
4       4   61.60
5       5   89.35
6       6  122.00
7       7  142.00
8       8  161.00
9       9  169.90
10     10  161.40
11     11  133.90
12     12  409.70
13     14  195.15
14     15  409.00
15     16  180.00
16     19  264.50

In [36]:
dict_rooms = create_dict(df[df['living_area'] == 0]['rooms'].unique(), living_rooms, 'rooms', 'median')
dict_rooms

{3: 44.0,
 2: 30.0,
 1: 17.4,
 4: 61.6,
 7: 142.0,
 0: 18.0,
 5: 89.35,
 6: 122.0,
 9: 169.89999999999998}

In [37]:
def new_living(row):
    rooms = row['rooms']
    if row['living_area'] == 0:
        return dict_rooms.get(rooms)
    else:
        return row['living_area']

In [ ]:
df['living_area'] = df.apply(new_living, axis = 1)

In [ ]:
df['living_area'].isna().sum() #проверка на пропуски

In [ ]:
df[df['living_area'] == 0]['living_area'].count() #проверка на нули

#### Задача №6

In [ ]:
print('Процент пропусков от общего числа в колонке: {:.2%}'.format(df['kitchen_area'].isna().sum() / len(df['kitchen_area'])))
print('Количество пропусков в колонке:', df['kitchen_area'].isna().sum(), 'шт.')

In [ ]:
df['kitchen_area'] = df['kitchen_area'].fillna(0.0)

In [ ]:
obj_to_smt('kitchen_area', 'float64')

In [ ]:
need = df.query('kitchen_area == 0.0')['rooms'].unique()

In [ ]:
df.query('kitchen_area == 0.0 & rooms == 0').pivot_table(index='rooms', values='total_area', aggfunc=['count','mean','median']).reset_index()

In [ ]:
df.query('kitchen_area == 0.0 & rooms == 0')['total_area'].hist(range=(0, 60))

In [ ]:
table = df.query('kitchen_area != 0.0').pivot_table(index='rooms', values = 'kitchen_area', aggfunc = ['count','mean', 'median']).reset_index()
table.columns = ('rooms', 'count', 'mean', 'median')
table

In [ ]:
dict_kitchen = create_dict(need, table, 'rooms', 'mean')
dict_kitchen[0] = 0
dict_kitchen

Я поставила в 0 комнат площадь 0 м², т.к. эти квартиры по большей части до 30 м², т.е. мелкие, однокомнатные. Это видно в гистрограмме выше. Есть, правда, выбросы по общей площади. В таких квартирах кухни сожно выделить, обычно они очень небольшие и размазаны по площади.

In [ ]:
def replace_kitchen(row):
    rooms = row['rooms']
    if row['kitchen_area'] == 0.0:
        return dict_kitchen.get(rooms)
    else:
        return row['kitchen_area']

In [ ]:
df['kitchen_area'] = df.apply(replace_kitchen, axis = 1)

In [ ]:
df['kitchen_area'].isna().sum()

#### Задача №7

In [ ]:
df['balcony'] = df['balcony'].fillna(0)

In [ ]:
obj_to_smt('balcony', 'int64')

In [ ]:
df.info()

<font color=green>На данном этапе заполнение пропусков заслуживает лишь похвалы.

#### Задача №8

In [ ]:
obj_to_smt('airports_nearest', 'float64')
df['airports_nearest'].isna().sum()

In [ ]:
df['cityCenters_nearest'] = df['cityCenters_nearest'].fillna(0)
obj_to_smt('cityCenters_nearest', 'float64')
df['cityCenters_nearest'].isna().sum()

In [ ]:
df['parks_around3000'] = df['parks_around3000'].fillna(0)
obj_to_smt('parks_around3000', 'int64')
df['parks_around3000'].isna().sum()

In [ ]:
df['ponds_around3000'] = df['ponds_around3000'].fillna(0)
obj_to_smt('ponds_around3000', 'int64')
df['ponds_around3000'].isna().sum()

In [ ]:
obj_to_smt('parks_nearest', 'float64')
df['parks_nearest'].isna().sum()

In [ ]:
obj_to_smt('ponds_nearest', 'float64')
df['ponds_nearest'].isna().sum()

In [ ]:
df['days_exposition'] = df['days_exposition'].fillna(0)
obj_to_smt('days_exposition', 'int64')
df['days_exposition'].isna().sum()

<font color=brown>Здесь замечу, что у нас не стоит задачи заполнить все возможные пропуски на 100%. В некоторых случаях это может навредить дальнейшему анализу. Например, заполняя пропуски в расстоянии до ближайшего парка нулем, мы по сути утверждаем, что ближайший парк находится максимально близко - в нуле км. Это отразится на коэффициентах корреляции в дальнейшем. Поэтому здесь лучше просто оставить пропуски, как есть.

После вашего комментария и перечитки задачи решила убрать замену на нули в колонках с расстояними до ближайшего аэропорта, пруда и парка. Там только привела к удобным типам данных. В днях и расстонии до центра решила оставить нули, т.к. для меня это памятка, что эти объявления еще не реализовались. На вебинаре рассказывали, что можно подобное проворачивать, ставя либо ноль, либо -999, к примеру. Я после в шаге 4 убирала выбивающиеся значение и это учла.

<b>UPD: <font color='blue'>Действтельно, можно как вариант пользоваться "заглушками". Только нужно помнить, что они могут повлиять на коэффициенты корреляции.

In [ ]:
df.info()

### Вывод

Очень много данных люди не заполняют при подаче объявления, данные нельзя воссоздать, но я постаралась брать среднее или медиану. Либо заменяла нулями в целочисленных колонках, чтобы тип данных по колонке был одинаков.

<font color='green'>В целом, я считаю, предобработка удалась, применены верные методы, пропуски тщательно обработаны, данные приведены к удобным типам.

## Шаг 3. Посчитайте и добавьте в таблицу

In [ ]:
df['price_metr'] = round(df['last_price'] / df['total_area'])
df.head()

In [ ]:
df['weekday'] = df['first_day_exposition'].dt.weekday
df['month'] = pd.DatetimeIndex(df['first_day_exposition']).month
df['year'] = pd.DatetimeIndex(df['first_day_exposition']).year

In [ ]:
dict_weekday={
    0: 'понедельник',
    1: 'вторник',
    2: 'среда',
    3: 'четверг',
    4: 'пятница',
    5: 'суббота',
    6: 'воскресенье'
}

In [ ]:
def replace_weekday(row):
    return dict_weekday.get(row)

In [ ]:
df['rus_weekday'] = df['weekday'].apply(replace_weekday)

In [ ]:
dict_month={
    1: 'январь',
    2: 'февраль',
    3: 'март',
    4: 'апрель',
    5: 'май',
    6: 'июнь',
    7: 'июль',
    8: 'август',
    9: 'сентябрь',
    10: 'октябрь',
    11: 'ноябрь',
    12: 'декабрь'
}

In [ ]:
def replace_month(row):
    return dict_month.get(row)

In [ ]:
df['rus_month'] = df['month'].apply(replace_month)

In [ ]:
def what_floor(row):
    if row['floor'] == 1:
        return 'первый'
    elif row['floors_total'] == row['floor']:
        return 'последний'
    elif row['floors_total'] == 'no_info':
        return 'неизвестно'
    else:
        return 'другой'

In [ ]:
df['floor_of_flat'] = df.apply(what_floor, axis=1)

In [ ]:
df['ratio_living'] = round(df['living_area'] / df['total_area'], 2)
df['ratio_kitchen'] = round(df['kitchen_area'] / df['total_area'], 2)

In [ ]:
df.head()

### Вывод

Я заменила числа на обычные названия дней недели и месяцы, чтобы было понятнее. Есть в соотношениях площади кухни к общей нули, т.к. на место пропусков у квартир с 0 комнат я подставила нулевое значение площади кухни. Всего таких случаев было 197 шт., думаю, что это не исказит общие данные

<font color=green>Так, ну что с этим ты справишься, я не сомневался.

## Шаг 4. Проведите исследовательский анализ данных и выполните инструкции:

In [ ]:
df.info()

### Изучаем площадь, стоимость, количество комнат и высоту потолков

In [ ]:
df['total_area'].hist(bins=50, range=(15, 150))

In [ ]:
df['last_price'].hist(bins=20, range=(1000000,12500000))

In [ ]:
df['rooms'].hist(range=(1, 10))

In [ ]:
df['ceiling_height'].hist(range=(2, 4))

### Вывод

Я подбивала bins и range у гистограмм, чтобы было нагляднее видно значения
- Площадь. На гистрограмме видно, что большинство квартир до 50-60 м². Всплески есть примерно на 42-45 м².
- Стоимость. Очень много квартир в районе 4 млн. Это основной костяк
- Комнаты. 1-3 комнаты чаще всего встречаются. 4 есть у чуть более 1000 квартир, а больше 4 это редкость
- Высота потолков. Стандартная высота 2,7 м. Сюда вошли заполненные пропуски, поэтому так много квартир с этими данными. Больше 3,25 м высота уже редкая

<font color='green'>Гистограммы построены в хорошем масштабе, по ним сделаны верные выводы.

## Дни продажи

In [ ]:
df['days_exposition'].hist()

In [ ]:
df['days_exposition'].hist(bins=100, range=(1, 200))

In [ ]:
print('Среднее по колонке с днями продаж', round(df['days_exposition'].mean()))
print('Медиана по колонке с днями продаж', df['days_exposition'].median())

### Вывод

Я заменяла пропуски нулями и на первой гистограмме видно как столбец нулевой выбивается, поэтому на второй гистограмме я убрала ноль и поставила ограничение в 400 дней, чтобы лучше увидеть за сколько дней больше всего квартир продавались. Я вижу 2 пика: около 48 дней и около 60. Медиана и среднее значение еще больше: 74 и 157 дней соответственно. Среднее явно тянут выше выбросы, которые видны на первой гистограмме. Получается, что бошинство квартир продается за 2 месяца. Можно сказать, что если квартира продалась за месяц или еще меньше, то это очень быстрая продажа. Продажи же затягиваются, если объявление висит 200 и более дней.

<font color='blue'>На 45й и 60й день, в зависимости от типа объявления, на сервисе происходит автоматическая деактивация объявлений. Молодец, что заметила эти выбросы. Гипотетически их можно исключить из анализа, как несостоявшиеся сделки.

## Убираем редкие и выбивающиеся значения

In [ ]:
flat_data = df.loc[:, ['total_area', 'last_price', 'rooms', 'days_exposition']]
for column in flat_data:
    Q1 = flat_data[column].quantile(.25)
    Q3 = flat_data[column].quantile(.75)
    IQR = Q3 - Q1
    flat_data.hist(column, bins=100, range=(0, (Q3+3*IQR)))
    plt.show()
    flat_data.boxplot(column)

In [ ]:
good_data = df.query('30 <= total_area < 60 & 2500000 < last_price < 7000000 & 2.5 <= ceiling_height <= 3.25 & 1 <= rooms <= 3 & 1 < days_exposition < 450 & cityCenters_nearest > 0')
good_data.describe()

### Вывод

Апдейт после изменений: здесь я убираю очень старые объявления, слишком большие и маленькие по площади, с высокими потолками и рассматриваю максимум 3-комнатные объекты. Добавила еще рамки по цене, чтобы слишком дорогие квартиры не повлияли на результат. Т.к. в колонках расстонияе до аэропорта и до центра убрала замену на

<s><font color='brown'>Этот проект в целом про графики, давай сдобрим этот раздел графиками boxplot. Они идеально подходят для охоты за выбросами.

<s><font color='red'>В этом проекте обязательно необходимо показать умение автоматизировать построение графиков при помощи циклов. Можешь это сделать в этом разделе, можешь где-то еще, но сделать нужно. Это важное умение для аналитика.

<b>UPD: <font color='green'>Отличная реализация, жирный плюс за масштабирование.

## Факторы, влияющие на стоимость квартиры

In [ ]:
good_data.corr()['last_price'].sort_values(ascending=False)

<font color=brown>Для наглядности можно взять только один интересующий нас столбец с ценой и отсортировать его по коэффициенту.

In [ ]:
def get_scatter(data, column, alpha):
    data.plot(x=column, y='last_price', kind='scatter', alpha=alpha)    
def get_hexbin(data, column):
    data.plot(x=column, y='last_price', kind='hexbin', gridsize=15, figsize=(7, 5), sharex=False, grid=True)

In [ ]:
get_scatter(good_data,'total_area', 0.1)

In [ ]:
get_hexbin(good_data,'total_area')

In [ ]:
get_scatter(good_data, 'rooms', 0.03)

In [ ]:
get_scatter(good_data, 'cityCenters_nearest', 0.05)

In [ ]:
columns = ['year', 'month', 'weekday']
for col in columns:
    good_data.groupby(col)['last_price'].agg('mean').plot()
    plt.show()

<s><font color=brown>Что касается дат, такие графики не очень наглядны. Предлагаю сгруппировать данные по дням, месяцам, годам и сделать три линейных графика со средними ценами, как ты делаешь ниже с расстоянием до центра. Может быть, мы найдем новые закономерности.  
    То же самое касается типа этажа.

### Вывод

Апдейд после изменений: по таблице с корреляцией видно, что наибольшее влияние имеет площадь квартиры. Дальше закономерно цена за квадратный метр, жилая площадь, площадь кухни и количество комнат. Чем больше метров или комнат, тем больше цена. Еще есть обратная зависимость цены от удаленности от центра. Чем больше расстояние, тем меньше цена на квартиру. Но нельзя сказать, что взаимосвязи сильные, т.к. самое больше значение коэффициента Пирсона = 0,59 у площадиквадратного метра и 0,58 у площади кватиры. Близких к 1 или -1 у нас нет. Скорее всего здесь не линейная зависимость, надо рассмотреть подбронее в графиках.


Графики зависимости цены:

- от площади: зависимость есть, немного ступенчатая, если можно так выразиться. Эти ступени видно на 30 м², 45 м² и 60 м² на втором графике. Похоже это из-за представления о цене определенных площадей у продавцов квартир. Пример: квартира 30 м² должна стоит 3-3,2 млн. руб., а квартира на 45 м² - 4 млн.руб. Относительно этих сумм остальные выставляли свои цены.
- от количества комнат: чем больше комнат, тем выше будет минимальная цена квартиры. Но вот максимальная может быть одинаковой как у 1-комнатной квартиры, так и у 3-комнатной. Хотя количество последних меньше.
- от удаленности от центра: на гистрограмме видно, что условная линия стремиться вниз, т.е. чем дальше от центра, тем цена меньше.
- от года размещения: средняя цены с 2017 стремительно уходит вверх. с 2017 было увеличение средних значений цены на 400 тыс.руб.
- от месяца размещения: зависимость средней цены от месяца скачет. С марта мы видим падение цен к июню, дальше к августу снова рост, небольшое падение к октябрю и подорожание в декабре. У нас данные по последней цене продажи есть предположение, что цену снижают к лету, т.к объявление висит достаточно долго(если считать с начала года) и продавцы хотят продать быстрее свою собтвенность. Это можно было бы проверить, если бы данные были по динамике изменения цен. 
- от дня недели: самые низкие цены видны в пятницу.

<s><font color=brown>Если честно, не вижу, чтобы близость аэропорта коррелировала с ценой. Перепроверь данные. Также жду чуть более объемный анализ полученных коэффициентов Пирсона.

<b>UPD: <font color='green'>Анализ зависимостей доведен до конца.

## ТОП-10 городов

In [ ]:
pivot_good = good_data.pivot_table(index='locality_name', values='price_metr', aggfunc=['count', 'mean'])
pivot_good.columns = ('count_flat', 'mean_price_metr')
top10 = pivot_good.sort_values(by='count_flat', ascending=False).head(10)
top10

In [ ]:
top10.sort_values(by='mean_price_metr', ascending=False)

### Вывод

Апдейд после изменений: как и ожидалось в Санкт-Петербурге, центре Лен.области, стоимость жилья будет самой больше и также самое большое число объявлений о продаже. Но неожиданно в городе Сестрорецк на северо-западе области цена ниже всего на 131 руб., а объявлений почти в 87 раз меньше. Скорее всего, это из-за географического расположения. Этот город находится в Курортном районе. С одной стороны Финский залив, а с другой - озеро. Город же с самой низкой стоимостью жилья - Ломоносов, по количеству объявлений он на предпоследнем месте.

<font color=green>С этим пунктом справились хорошо.

## Центр Санкт-Петербурга

In [ ]:
flat_sp = good_data.copy()
flat_sp['cityCentr_kl'] = round(flat_sp['cityCenters_nearest'] / 1000)
flat_sp = flat_sp.query('locality_name == "Санкт-Петербург"')

In [ ]:
mean_price_kl = flat_sp.pivot_table(index='cityCentr_kl', values='last_price', aggfunc=['mean']).reset_index()
mean_price_kl.columns = ('kilometr', 'mean_price')
mean_price_kl.head()

In [ ]:
mean_price_kl.plot(x='kilometr', y='mean_price', grid=True)

<s><font color=brown>Здесь нагляднее был бы линейный или столбчатый график.

In [ ]:
centr_sp = flat_sp.query('cityCentr_kl <= 9.0 & floor_of_flat != "неизвестно"')
centr_sp.head()

<font color='green'>В целом с выбором центральной зоны согласен.

In [ ]:
centr_sp['last_price'].hist(bins=20, range=(2000000, 15000000))

In [ ]:
centr_sp['total_area'].hist(bins=20,range=(28,70))

In [ ]:
centr_sp['rooms'].hist()

In [ ]:
centr_sp['ceiling_height'].hist()

##### Зависимости цены квартиры в центре Питера от факторов

In [ ]:
columns = ['rooms', 'floor_of_flat', 'cityCentr_kl']
for col in columns:
    centr_sp.groupby(col)['last_price'].agg('mean').plot(grid=True)
    plt.show()

<s><font color=red>Код не работает, нужно починить. Посмотреть зависимость от типа этажа, как я писал выше, удобно через линейный график по сводной таблице со средними значениями.

Не понимаю почему код выдавал ошибку. Прогнала еще раз с самого начала, ничего не меняя, и график появился как и другие. Но по вашей рекомендации я поменяла график на линейный. Тоже самое сделала с комнатами и удаленностью от центра через цикл.

In [ ]:
get_scatter(centr_sp,'days_exposition', 0.1)

### Вывод

Апгрейд после изменений: по цене условный центр явно вырисовывается в пределах 9 км. По большей части в центре квартиры 1 и 2-комнатные. А вот цены на порядок выше остальных частей Питера, хотя есть и дешевые варианты. По площади встречаются в основном 40-45 м², но есть и маленькие около 30 м². Ограничение в  60+ м² было неожиданностью, т.к. есть квартиры и большей площади в других местах. По высоте после замены на медиану получилось, что больше всего квартир с высотой 2,6 м, а больше 3 м уже редкость.  

- Количество комнат. Как и ожидалось, чем больше количество комнат, тем цена выше. Но это распространяется на нижний порог стоимости, а не на верхний. 1-комнатная квартира может примерно стоит как 2-комнатная в центре.
- Этаж. В центре последний этаж не так сильно уступает в цене как "другой". Но как и в целом по Санкт-Петербургу цены на первый этаж ниже. 
- Удаленность от центра. Тут присутствует зависимость, чем ближе к центру, тем стоимость выше. У тех объектов, что находятся совсем рядом с центром(до 3 км), цена от 5,1 млн. руб. В это же время чем дальше от центра, тем цена опускается.
- Дни размещения. Тут мне не совсем понятна зависимость. Довольно много объектов по разным ценам были опубликованны не более 100 дней. Если бы была положительная корреляция между этими двумя параметрами, то график был бы другой: самые дешевые объекты продавались бы быстрее, но тут эта связь не очевидна.

<s><font color=blue>Возможно, после доработки, захочешь дополнить.

### Шаг 5. Общий вывод

1. Чем больше площадь объекта, тем он дороже. Это самый важный фактор, за которым нужно следить, при выявлении мошеничества. В среднем квартиры 30-35 м² самые дешевые от 2,5 млн.руб.
    - Количество комнат тоже влияет на стоимость недвижимости, это вытекающий из площади фактор. У 4-комнатных квартрир видно, что минимальная цена в районе 3 750 000 руб., тогда как у 1-комнатных - меньше 2 500 000 руб. Но количество комнат не всегда указывают.
2. Удаленность от центра в центре области имеет больше значение для формирования цены. Чем ближе к центру, тем дороже. Поэтому квартира в радиусе 9 км от центра не будет стоит 2 млн.руб. Скорее 4-5 млн. и выше.
    - Курортный район выделился также стоимостью. Тут уровень цен близок к Санкт-Петербургу, поэтому небольшая стоимость будет тревожным сингалом для объектов этого района.

<font color='green'>Вывод содержит описание результатов проведенного анализа и дает ответы на поставленные в задании вопросы. Хорошо.

<font color=green>С оформтелнием у нас также проблем нет: структура проекта соблюдена, комментарии аккуратны и в подходящих ячейках. Код читабелен и откомментирован.

---

<font color='blue'>Итак, отличная работа, могу только похвалить. Ты показываешь прекрасное владение изучаемым материалом: строишь хорошие графики, понимаешь и используешь понятие корреляции. Грамотно строишь срезы. Отдельно похвалю хорошую структуру и четкий план в начале.    
    Однако у меня нашлось несколько замечаний, уверен, учесть их в работе тебе не составит труда. Буду ждать доработанный проект, успехов!

<b>UPD: <font color='blue'>Итак, как я и ожидал, отличная доработка, учтены все замечания, теперь проект максимально близок к идеалу :). Успехов в изучении статистики!

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл
- [x]  файлы изучены (выведены первые строки, метод info())
- [x]  определены пропущенные значения
- [x]  заполнены пропущенные значения
- [x]  есть пояснение, какие пропущенные значения обнаружены
- [x]  изменены типы данных
- [x]  есть пояснение, в каких столбцах изменены типы и почему
- [x]  посчитано и добавлено в таблицу: цена квадратного метра
- [x]  посчитано и добавлено в таблицу: день недели, месяц и год публикации объявления
- [x]  посчитано и добавлено в таблицу: этаж квартиры; варианты — первый, последний, другой
- [x]  посчитано и добавлено в таблицу: соотношение жилой и общей площади, а также отношение площади кухни к общей
- [x]  изучены следующие параметры: площадь, цена, число комнат, высота потолков
- [x]  построены гистограммы для каждого параметра
- [x]  выполнено задание: "Изучите время продажи квартиры. Постройте гистограмму. Посчитайте среднее и медиану. Опишите, сколько обычно занимает продажа. Когда можно считать, что продажи прошли очень быстро, а когда необычно долго?"
- [x]  выполнено задание: "Уберите редкие и выбивающиеся значения. Опишите, какие особенности обнаружили."
- [x]  выполнено задание: "Какие факторы больше всего влияют на стоимость квартиры? Изучите, зависит ли цена от квадратного метра, числа комнат, этажа (первого или последнего), удалённости от центра. Также изучите зависимость от даты размещения: дня недели, месяца и года. "Выберите 10 населённых пунктов с наибольшим числом объявлений. Посчитайте среднюю цену квадратного метра в этих населённых пунктах. Выделите населённые пункты с самой высокой и низкой стоимостью жилья. Эти данные можно найти по имени в столбце '*locality_name'*. "
- [x]  выполнено задание: "Изучите предложения квартир: для каждой квартиры есть информация о расстоянии до центра. Выделите квартиры в Санкт-Петербурге (*'locality_name'*). Ваша задача — выяснить, какая область входит в центр. Создайте столбец с расстоянием до центра в километрах: округлите до целых значений. После этого посчитайте среднюю цену для каждого километра. Постройте график: он должен показывать, как цена зависит от удалённости от центра. Определите границу, где график сильно меняется — это и будет центральная зона. "
- [x]  выполнено задание: "Выделите сегмент квартир в центре. Проанализируйте эту территорию и изучите следующие параметры: площадь, цена, число комнат, высота потолков. Также выделите факторы, которые влияют на стоимость квартиры (число комнат, этаж, удалённость от центра, дата размещения объявления). Сделайте выводы. Отличаются ли они от общих выводов по всему городу?"
- [x]  в каждом этапе есть выводы
- [x]  есть общий вывод